.pricing__card {
  padding: 0 2% 2% 2%;
  border-radius: 20px;
  background: #18181c;
  width: 20%;
  margin-top: 2%;
}

.pricing__icon__content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing__icon {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 76px;
  height: 76px;
  border-radius: 50%;
  background-color: #222228;
}

.pricing__icon svg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-top: 5%;
  height: 100%;
  width: 100%;
}

.pricing__title h3 {
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  margin-top: 44px;
}

.horizontal__line {
  background-color: #404047;
  height: 1px;
  border: none;
}

.pricing__card__features {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pricing__card__features__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pricing__card__features li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 29px;
  height: 29px;
  border-radius: 10px;
  background: #222228;
}

.pricing__card__features p {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-left: 5%;
  width: 100%;
}

.pricing__card__pricing {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
}

.pricing__card__price {
  gap: 10px;
  display: flex;
}

.pricing__card__amount {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
}

.pricing__card__month {
  color: #9e9e9e;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 228.571% */
}

.pricing__card__button {
  width: 60%;
}

.pricing__card__button button {
  width: 100%;
  height: 100%;
  border: none;
  background: var(
    --Main-Color,
    linear-gradient(93deg, #ff9898 0.48%, #8054ff 100%)
  );
  border-radius: 5px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .pricing__card {
    width: 75%;
    padding: 4%;
  }
}
